<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin/common/header :: common_header(~{::title},~{})">
        <title>Guns - 主页</title>
    </head>
    <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
        <div id="wrapper">
            <!-- 菜单栏 -->
            <div th:replace="admin/common/sidebar :: common_sidebar"></div>
            <!-- 右边主体 -->
            <div th:replace="admin/common/right :: common_right"></div>
            <!-- 主题 -->
            <div th:replace="admin/common/theme :: common_theme"></div>
        </div>

        <!-- 全局js -->
        <script th:src="@{/static/H_plus/js/jquery.min.js?v=2.1.4}"></script>
        <script th:src="@{/static/H_plus/js/bootstrap.min.js?v=3.3.6}"></script>
        <script th:src="@{/static/H_plus/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
        <script th:src="@{/static/H_plus/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/static/H_plus/js/plugins/layer/layer.min.js}"></script>
        <script th:src="@{/static/H_plus/js/hplus.min.js?v=4.1.0}"></script>
        <script th:src="@{/static/H_plus/js/contabs.min.js}"></script>

        <!-- 第三方插件 -->
        <script th:src="@{/static/H_plus/js/plugins/pace/pace.min.js}"></script>
    </body>
</html>