<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/><!-- 让360浏览器默认选择webkit内核 -->

    <!-- 全局css -->
    <link rel="shortcut icon" th:href="@{/static/H_plus/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/H_plus/css/bootstrap.min14ed.css?v=3.3.6}" />
    <link rel="stylesheet" th:href="@{/static/H_plus/css/font-awesome.min93e3.css?v=4.4.0}" />
    <link rel="stylesheet" th:href="@{/static/H_plus/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/static/H_plus/css/style.min862f.css?v=4.1.0}" />
    <link th:href="@{/static/H_plus/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/H_plus/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
               <!-- <div class="ibox-title">
                    <h5>菜单管理</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> 添加新菜单</button>
                    </div>
                </div>-->
                <!--<div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入菜单名称" class="input-sm form-control" id="menuName"> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary" id="query"><i class="glyphicon glyphicon-search"></i> 搜索</button> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs" id="toolbar">
                                <button type="button" class="btn btn-primary btn-sm" id="btn_submit"><i class="glyphicon glyphicon-plus"></i> 添加</button>
                                <button type="button" class="btn btn-success btn-sm" id="btn_cancel"><i class="glyphicon glyphicon-pencil"></i> 取消</button>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="ibox-content">
                    <div class="form-horizontal" id="menuInfoForm">
                        <!-- 隐藏Id -->
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">菜单编号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="id">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">菜单名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="menuName">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">父级菜单</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="parentId">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否显示</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="isShow" >
                                            <option value="1">是</option>
                                            <option value="0">不是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">请求地址</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="url">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">排序</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="sort">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">图标</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="icon">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">备注</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="remarks">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                        <div class="row btn-group-m-t">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-info" id="btn_submit"><i class="fa fa-check"></i> 添加</button>
                                <button type="button" class="btn btn-danger" id="btn_cancel"><i class="fa fa-eraser"></i> 取消</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script th:src="@{/static/H_plus/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/H_plus/js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/static/H_plus/js/content.min.js?v=1.0.0}"></script>

<script th:src="@{/static/H_plus/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/static/H_plus/js/plugins/layer/layer.min.js}"></script>
<script th:src="@{/static/H_plus/js/plugins/iCheck/icheck.min.js}"></script>
<script th:src="@{/static/H_plus/js/plugins/layer/laydate/laydate.js}"></script>
<script th:src="@{/static/system/menu/menu.js}"></script>
<script th:src="@{/static/system/menu/menu_crud.js}"></script>
</body>
</html>