<!DOCTYPE html>
<html th:replace="admin/temp :: temp(_,_,~{::div},~{::script})">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" id="menuForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">菜单编号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="id">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">菜单名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="menuName">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">父级菜单</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="parentId">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否显示</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="isShow" >
                                            <option value="1">是</option>
                                            <option value="0">不是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">请求地址</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="url">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">排序</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="sort">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">图标</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="icon">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">备注</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-sm form-control" id="remarks">
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                            </div>
                        </div>

                       <!-- <div class="row btn-group-m-t">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-info" id="btn_submit"><i class="fa fa-check"></i> 添加</button>
                                <button type="button" class="btn btn-danger" id="btn_cancel"><i class="fa fa-eraser"></i> 取消</button>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 其他JS -->
<script th:src="@{/static/system/menu/menu.js}"></script>
<script th:src="@{/static/system/menu/menu_crud.js}"></script>
</body>
</html>