<!DOCTYPE html>
<html>
    <head>
        <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">模块管理</title>-->
        <title>模块管理模板</title>
        <!-- 常用CSS -->
        <link rel="shortcut icon" th:href="@{/static/H_plus/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/static/H_plus/css/bootstrap.min14ed.css?v=3.3.6}" />
        <link rel="stylesheet" th:href="@{/static/H_plus/css/font-awesome.min93e3.css?v=4.4.0}" />
        <link rel="stylesheet" th:href="@{/static/H_plus/css/animate.min.css}" />
        <link rel="stylesheet" th:href="@{/static/H_plus/css/style.min862f.css?v=4.1.0}" />
        <!-- 其他CSS -->

        <!-- 常用JS -->
        <script th:src="@{/static/H_plus/js/jquery.min.js?v=2.1.4}"></script>
        <script th:src="@{/static/H_plus/js/bootstrap.min.js?v=3.3.6}"></script>
        <script th:src="@{/static/H_plus/js/content.min.js?v=1.0.0}"></script>
        <script th:src="@{/static/H_plus/js/plugins/layer/layer.min.js}"></script>
        <script th:src="@{/static/H_plus/js/plugins/iCheck/icheck.min.js}"></script>
        <script th:src="@{/static/H_plus/js/plugins/layer/laydate/laydate.js}"></script>
        <!-- 其他JS -->
        <script th:src="@{/static/H_plus/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
        <!--<script th:src="@{/static/system/menu/menu.js}"></script>-->
    </head>
    <body class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">

        </div>
    </body>
</html>